* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}
.nav {
  height: 5rem;
  background: #222;
  padding: 1rem 0;
}
.nav-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.hero {
  background: rgb(92, 51, 18);
}
.hero-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 0;
  color: #fff;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}
.hero-desc {
  max-width: 35em;
  margin-bottom: 1.5rem;
}
.hero-btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  width: fit-content;
  animation: sildeFromBottom 3s ease-in-out 1;
}
.hero-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
/*animation*/
.hero-text {
  animation: sildFromTop 3s ease-in-out 1;
}

/* ANIMATION */
@keyframes sildFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sildeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*MEDIA SCREEN*/
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(
        to right,
        rgba(105, 62, 27, 0.5),
        rgba(105, 62, 27, 0.8)
      ),
      url("./images/hero-bcg.jpg") fixed center/cover;
  }
}
